# Visual Studio
.vs/
*.vcxproj.user
*.suo
*.ipch
*.pdb
*.idb
*.obj
*.tlog
*.lastbuildstate

# Build folders
x64/Debug/
x64/Release/

# Executables
*.exe
*.lib
*.dll

# Others
*.log

x64/
Debug/
Release/
*.vcxproj.filters
2048_Game2048/x64/
2048_Game/
*.vcxproj.filters
